/* إعدادات عامة */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* الخلفية */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* الرأس */
header {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    text-decoration: underline;
}

/* المنتجات */
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
}

.product {
    width: 300px;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* الفوتر */
footer {
    text-align: center;
    padding: 15px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    position: relative;
}
