body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* لإزالة أي تمرير */
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* ليملأ الفيديو الشاشة */
    z-index: -1; /* ليتأكد أن المحتوى يظهر فوق الفيديو */
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* شفافية بسيطة */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    margin: 0;
}

.product {
    display: inline-block;
    width: 45%;
    margin: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1;
}

.product img {
    width: 100%;
    height: auto;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.8); /* شفافية بسيطة */
    color: white;
    position: relative;
    z-index: 1;
}
